.App {

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  //Max screen size
  .maxScreenSize {
    width: 1402px;
    padding: 2rem;
    min-height: 100vh;

    @media screen and (max-width: "1402px") {
      width: 100vw;
    }
  }

  & .widthFit {
    width: fit-content !important;
  }

  //Display elements
  & .textCenter {
    text-align: center;
  }

  & .justifyCenter {
    display: flex;
    justify-content: center;
  }

  & .justifyEnd {
    display: flex;
    justify-content: flex-end;
  }

  & .justifySpaceBeteween {
    display: flex;
    justify-content: space-between;
  }

  & .alignCenter {
    display: flex;
    align-items: center;
  }

  //Texts
  & .bold {
    font-weight: bold;
    margin-bottom: 0;
  }

  & p {
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
  }

  & .normalHandWrite {
    font-family: 'Caveat', cursive;
    font-size: x-large;
  }

  $blue: #83cfe9;
  $lightBlue: #aeebff;

  //Others
  & .pointer {
    cursor: pointer;
  }

  & .blueLabel {
    padding: 7px 19px;
    border: 1px solid $blue;
    border-radius: 50px;
    margin: 10px;
    width: fit-content;
  }

  & .sombra {
    -webkit-box-shadow: 7px 6px 35px -10px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 7px 6px 35px -10px rgba(0, 0, 0, 0.30);
    box-shadow: 7px 6px 35px -10px rgba(0, 0, 0, 0.30);
  }

  .button {
    background-color: $blue;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 1px solid $blue;
    margin: 2px 0;
    min-width: 170px;

    & p {
      margin: 0 !important;
      color: black;
      width: fit-content !important;
    }
  }

  .button:hover {
    background-color: $lightBlue;
    border: 1px solid $lightBlue;
    cursor: pointer;
    & a{
      text-decoration: none;
    }
  }
}